html {
    margin: 0;
    padding: 0;
    color: #302f2f;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    background: radial-gradient(#fbfcfd, #e7e8ef, #d2d5e2);
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 2rem;
}

.header {
    text-align: center;
    padding-top: 35vh;
    margin: 0 1%;
}

.header--small {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    box-shadow: 0px 1px 5px grey;
    padding: 0.4rem 0;
}

.header__title {
    font-size: 3rem;
}

.header__title--small {
    margin: 0 1rem;
    padding-top: 0.3rem;
}

.header__description {
    font-size: 1.3rem;
}

.header__description--small {
    display: none;
}

.header__input {
    height: 2rem;
    padding: 0.2rem 0.5rem;
    font-size: 1.5rem;
}

form {
    display: inline;
    align-items: center;
    justify-content: center;
}

.form__submit-button {
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 5%;
    padding: 0.5%;
    text-align: center;
    border: 2px solid black;
    background: #302f2f;
    color: #fbfcfd;
    font-weight: 700;
    border-radius: 0.6rem;
}

.form__submit-button:hover {
    color: #302f2f;
    background: #fbfcfd;
    border: 2px solid #302f2f;
    outline:none;
}
.section__results {
        display: flex;
        align-items: center;
        height: 100%;
}

.image__container {
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
}

img {
    object-fit: cover;
    height: 50vh;
    width: 50vh;
    box-shadow: 0 0 2rem grey;    
}

@media screen and (min-width: 600px) {
    .header__input {
        width: 30ch;
    }
    .form__submit-button {
        margin: 1%;
        padding: 0.5% 1% 0.5% 1%;
    }
    .header__input--small {
        width: 40ch;
        margin: 0.4rem;
    }
}